{% extends 'layout.html' %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <div class="container">
        <h1>Add a question to the DB !!</h1>
        {% from 'includes/_formhelpers.html' import render_field %}
        <form method="POST" action="">
          <div class="form-group">
            {{render_field(form.question, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.subject, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.chapter, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.topic, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.difficulty, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.marks, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.answer, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.option1, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.option2, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.option3, class_="form-control")}}
          </div>
          <div class="form-group">
            {{render_field(form.option4, class_="form-control")}}
          </div>
          <p><input type="submit" class="btn btn-primary" value="Submit"></p>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
